@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100%;
}
p {
  @apply text-text-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold text-text-dark;
}

.flex-center {
  @apply flex justify-center items-center;
}
.flex-center-between {
  @apply flex justify-between items-center;
}

.current_bid-overly {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.section-bg {
  background: rgba(217, 224, 236, 0.2);
  backdrop-filter: blur(25px);
}

.btn-outline {
  --color: #3d00b7;
  background-color: #fff;
  font-family: inherit;
  display: inline-block;

  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;

  font-weight: 500;
  cursor: pointer;
  color: var(--color);
}

.btn-outline:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50px;
  bottom: 100%;
  right: 100%;
  transition: 0.8s ease;
}

.btn-outline:hover {
  color: #fff;
}

.btn-outline:hover:before {
  bottom: -30px;
  left: -30px;
}

.btn-outline:active:before {
  background: #3a0ca3;
  transition: background 2s;
}

/* button secondary style  */

.animated-button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #3d00b7;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #3d00b7;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #3d00b7;
  border-radius: 60px;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 2px #2195f360;
  color: #ffffff;
  border: 2px solid #2195f360;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 170px;
  height: 170px;
  opacity: 1;
}

/* button primary style  */

.btn {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  padding: 12px 32px;
  display: inline-block;
  border-radius: 60px;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  border: 1px solid #3d00b7;
  background-color: #3d00b7;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #3d00b7;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
